//Global Color
$primary-color: #F9FCFF;
$secondary-color: #0E1622;
$text-color: #041022;
$text-white: #F9FCFF;
$lightdark-background: #121D2D;


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');

body{
    font-family: "Sora", sans-serif;
}

h1{
    font-size: 4.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: $text-white;
    &:hover{
            color: $primary-color;
        }
}

.btn-primary{
  font-family: "Manrope", sans-serif;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding:15px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 24px;
    color: $text-color;
    &:hover{
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $text-white;
    }
}

  .btn-secondary{
    font-family: "Manrope", sans-serif;
    background-color: transparent;
    border: 1px solid $primary-color;
    padding:15px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 24px;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $text-color;
        }
}

.btn-black{
  font-family: "Manrope", sans-serif;
    background-color: $text-color;
    border: 1px solid $text-color;
    padding:15px 20px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 24px;
    color: $text-white;
    &:hover{
        background-color: transparent;
        border: 1px solid $secondary-color;
        color: $text-color;
    }
}



header{
  .brand{
    i{
        align-items: center;
    }
    img{
        height: 30px;
    }
    span{
      font-size: 24px;
    }
}

.dash-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .dash-link {
    position: relative;
    padding: 0 1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;


    &::before {
      left: -1.5rem;
    }

    &::after {
      right: -1.5rem;
    }

    &:first-child::before {
      content: '';
    }

    &:last-child::after {
      content: '';
    }

    &:hover {
      color: #0dcaf0 !important;
    }
  }
}


}




.section-1{
  padding: 0px 160px;
    width: 100%;

    background: linear-gradient(90deg, #0E1622, #4790FF); // Adjust based on your image
    .hero{
      color: $text-white;
      padding-top: 200px;

      h1{
        font-weight: 600;
        font-size: 76px;
        letter-spacing: -2px;
        line-height: 86px;
      }
      p{
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 24px;
      }
  }
    .heroimg{
    margin-top: -800px;
    margin-left: 530px;
  }

}

.section-2 {
  position: relative; 
  width: 100%;
  height: 370px;

  .partnered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 160px;

    .Title h3 {
      font-size: 28px;
      font-weight: 600;
      color: $text-color; 
      margin-bottom: 20px;
    }

    .PartneredIMG img {

      height: 40px;
    }
  }
}


.section-3{
  position: relative; 
  width: 100%;
  height: 1125px;
  align-items: center;
  padding: 80px 160px;
  


  .con-item{
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    h2{
      font-size: 64px;
      font-weight: 600;
      line-height: 86px;
      letter-spacing: -2%;
      color: $text-color;
    }
    p{
      font-size: 24px;
      font-weight: 400;
      padding: 40px 0;
    }
    
  }
  img{
    width: 770px;
    height: 645px;
    border-radius: 24px;
  }


  .hero-stats {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 130px;

  .stat-item{
    align-items: center;
    text-align: center;

    h2{
      font-family: "Sora", sans-serif;
      font-size: 76px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 86px;
    }
    p{
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 400;

    }
  }

}

}


.section-4{
  width: 100%;
  align-items: center;
  padding: 100px 160px;
  background-color: $secondary-color;

  .servies{
    align-items: center;
    text-align: center;
    .servies-heading-contant{
      h2{
        font-family: "Sora", sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2%;
        color: $text-white;
      }
      p{
        font-size: 24px;
        font-weight: 400;
        padding: 40px 0;
        color:$text-white
      }
    }
  }

  .row{
    margin: 80px 0;
    .card{
      background-color: $lightdark-background;
      color: $primary-color;
      border-radius: 24px;
      text-align: left;

      .icon{
        height: 48px;
        width: 48px;
        background-color: $primary-color;
        border-radius: 16px;
        align-items: center;
        img{
          padding: 12px;
        }
      }
      .service-title{
        h4{
          font-family: "Sora", sans-serif;
          font-weight: 600;
          font-size: 20px;
          letter-spacing: -2%;
          padding-bottom: 15px;
          padding-top: 14px;
        }
        p{
          font-family: "Manrope", sans-serif;
          font-weight: 400;
          font-size: 20px;
        }

      }
    }

  }
  .service-btn{
    margin-top: 100px;
  }
}


.section-5{
  width: 100%;
  align-items: center;
  padding: 100px 160px;

  .choose-us{
    align-items: center;

    .choose-us-title{

        h2{
          font-family: "Sora", sans-serif;
          font-size: 64px;
          font-weight: 600;
          line-height: 86px;
          letter-spacing: -2%;
          color: $text-color;
          text-align: left;
        }
        p{
          font-family: "Manrope", sans-serif;
          font-weight: 400;
          font-size: 20px;
          
        }
    }
  }
  .row{
    
  }
}

